p {
  padding-left: 15px;
}

div p:last-child {
  padding-bottom: 20px;
}

.container {
 width: 800px;
 margin: 0 auto;
}
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.column {
    flex-basis: 30%;
}

.column:first-child {
    padding-left: 5px;
}

.column:first-child,
.column:last-child {
    flex-basis: 20%;
}

.header {
    background-color: #ddd;
    padding: 5px 0px;
    border-bottom: 1px solid black;
}

li.row {
}

.row {
  padding: 5px 0px;
}

body{
    background-image: url(../images/depositphotos_91192128-stock-illustration-watercolor-seamless-pattern-with-flower.jpg);
    margin: auto;
}
.content{
    width: 900px;
    height: 1000px;
    background-color: pink;
    margin: auto;
    border-radius: 15px;
    color: brown;
}

.even {
 background: #eee;
}

.register-button {
    font-size: 12px;
    display: block;
    width: 100%;
    padding: 15px 0;
    background-color: #30d5c8;
    border: 0;
    border-radius: 5px;
    text-transform: lowercase;
    font-weight: bold;
    color: white;
}

.button-text{
    color: black;

}