.caption{
    color: purple;
    background-color: plum;
    font-weight: bold;
}
.main-heading{
    color: palevioletred;
    text-decoration: underline;
    text-align: center;
    background-color: darkgray;
}
.image{
    border-radius: 100px;
    width: 200px;
    height: 200px; 
}
.photo{
    text-align: center;
}
.main-text{
    font-size: 19px;
    font-style: italic;
}
.tfoot{
    text-align: center;
    font-weight: bold;
    column-span: a;
}
.table{
    border: 2px solid;
    padding: 2px solid;
    border-radius: 6px;
    cursor: pointer;
}
td{
    border: 1px solid black;
}
body{
    background-image: url(../images/depositphotos_91192128-stock-illustration-watercolor-seamless-pattern-with-flower.jpg);
    margin: auto;
}
.list-books{
    margin-left: 0px;
}
.content{
    width: 900px;
    height: 500px;
    background-color: pink;
    margin: auto;
    border-radius: 15px;
    color: brown;
}
.name{
    text-align: center;
    font-style: italic;
}